@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=League+Spartan:wght@500&family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root
{
 --bg-black-900: #f2f2fc;
 --bg-black-100: #fdf9ff;
 --bg-black-50: #e8dfec;
 --text-black-900: #302e4d;
 --text-black-700: #504e70;

}
body.dark{
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --text-black-700: #e9e9e9;
}

body{
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
::before, ::after{
  box-sizing: border-box;
}

ul{
  list-style: none;
}

section{
  background-color: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  opacity: 1;
  padding: 0 30px;
}
.section-title h2{
  color: var(--text-black-900);
}

.main-content{
  padding-left: 270px;
}


.aside{
  min-height: 100%;
  padding: 30px;
  width: 270px;
  background-color: var(--bg-black-100);
  position:fixed;
  left:0;
  top:0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--bg-black-50);
}
.aside .logo{
  position:absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}
.aside .logo a{
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}
.aside .logo a span{
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}

.aside .nav
{
  margin-top: 50px;
}
.aside .nav li{
  margin-bottom: 20px;
  display: block;
}

.aside .nav li a i{
  margin-right: 15px;
}

.shadow-dark{
  box-shadow: 0 0 20px rgba(48, 46, 77, .15);
}
